/*************************/
/*         BASE          */
/*************************/

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

video {
    width: 100%;
    display: block;
}

.transcript {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    width: 90%;
    margin: 1.2em auto;
}

.highlight {
    background-color: yellow;
}

/*************************/
/*    MEDIA QUERIES      */
/*************************/

@media screen and (min-width: 768px) {
    video {
        width: 60%;
        margin: 2em auto;
    }

    .transcript {
        width: 60%;
        margin: 1.2em auto;
        line-height: 1.8;
    }
}